.rodape{
    background-color: #6278F7;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social img{
    padding: 0 20px;
}

.text{
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
}